In [3]:
import dtale
import pandas as pd
import numpy as np

In [4]:
all_data = pd.read_csv('train.csv')

In [ ]:
#Assigned Columns BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
#'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
#'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
#'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
#'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',

In [5]:
all_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [11]:
#pull out my columns
my_data = all_data[['BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'SalePrice']]

In [12]:
my_data.head(10)

,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,...,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,SalePrice
0,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,...,0,1710,1,0,2,1,3,1,Gd,208500
1,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,...,0,1262,0,1,2,0,3,1,TA,181500
2,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,...,0,1786,1,0,2,1,3,1,Gd,223500
3,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,...,0,1717,1,0,1,0,3,1,Gd,140000
4,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,...,0,2198,1,0,2,1,4,1,Gd,250000
5,TA,No,GLQ,732,Unf,0,64,796,GasA,Ex,...,0,1362,1,0,1,1,1,1,TA,143000
6,TA,Av,GLQ,1369,Unf,0,317,1686,GasA,Ex,...,0,1694,1,0,2,0,3,1,Gd,307000
7,TA,Mn,ALQ,859,BLQ,32,216,1107,GasA,Ex,...,0,2090,1,0,2,1,3,1,TA,200000
8,TA,No,Unf,0,Unf,0,952,952,GasA,Gd,...,0,1774,0,0,2,0,2,2,TA,129900
9,TA,No,GLQ,851,Unf,0,140,991,GasA,Ex,...,0,1077,1,0,1,0,2,2,TA,118000

In [10]:
dtale.show(my_data)

In [18]:
#Drop categorical features
my_data1 = my_data[['BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'SalePrice']]

In [22]:
np.sum(my_data1.isnull(),axis =0)

BsmtFinSF1      0
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
1stFlrSF        0
2ndFlrSF        0
LowQualFinSF    0
GrLivArea       0
BsmtFullBath    0
BsmtHalfBath    0
FullBath        0
HalfBath        0
BedroomAbvGr    0
KitchenAbvGr    0
SalePrice       0
dtype: int64

In [19]:
dtale.show(my_data1)

In [23]:
#We have the Type 1 Basement Finished Square Feet (BsmtFinSF1), the Type 2 Basement Square Feet (BsmtFinSF2)
#The Unfinished Basement Square Feet (BsmtUnfSF) and Total Basement Square Feet (TotalBsmtSF). Since TotalBsmtSF is the sum
# of the other three variables they are highly multicollinear. I chose to drop the TotalBsmtSF since the other 3 columns 
# Contain unique information while TotalBsmntSF is just a s sum of the other columns
my_data2 = my_data1.drop('TotalBsmtSF', 1)

In [24]:
from sklearn.linear_model import LinearRegression

lmodel = LinearRegression()
X_train = my_data2.drop('SalePrice', 1)
Y_train = my_data2['SalePrice']

In [25]:
lmodel.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
print(lmodel.coef_)

[ 4.17669815e+01  1.75232680e+01  3.92555959e+01  5.31883284e+01
  3.47233242e+01 -5.20253815e+01  3.58862712e+01  1.67784835e+04
  8.14829902e+03  3.28895538e+04  1.64098163e+04 -1.46081827e+04
 -5.84295222e+04]

In [29]:
import statsmodels.api as sm
X_train_const = sm.add_constant(X_train)
statmodel = sm.OLS(Y_train, X_train_const)
ans = statmodel.fit()
print(ans.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.705
Model:                            OLS   Adj. R-squared:                  0.702
Method:                 Least Squares   F-statistic:                     287.5
Date:                Sat, 22 Feb 2020   Prob (F-statistic):               0.00
Time:                        16:51:28   Log-Likelihood:                -17654.
No. Observations:                1460   AIC:                         3.533e+04
Df Residuals:                    1447   BIC:                         3.540e+04
Df Model:                          12
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           4.9e+04   7180.632      6.824      0.000    3.49e+04    6.31e+04
BsmtFinSF1      41.7670      5.522      7.563      0.000      30.935      52.599
BsmtFinSF2      17.5233      8.636      2.029      0.043       0.582      34.465
BsmtUnfSF       39.2556      4.893      8.023      0.000      29.657      48.854
1stFlrSF        53.1883      7.219      7.367      0.000      39.027      67.350
2ndFlrSF        34.7233      6.915      5.022      0.000      21.159      48.287
LowQualFinSF   -52.0254     17.939     -2.900      0.004     -87.214     -16.837
GrLivArea       35.8863      6.134      5.851      0.000      23.854      47.918
BsmtFullBath  1.678e+04   3146.595      5.332      0.000    1.06e+04     2.3e+04
BsmtHalfBath  8148.2990   5027.062      1.621      0.105   -1712.809     1.8e+04
FullBath      3.289e+04   2786.719     11.802      0.000    2.74e+04    3.84e+04
HalfBath      1.641e+04   2968.724      5.528      0.000    1.06e+04    2.22e+04
BedroomAbvGr -1.461e+04   1744.561     -8.374      0.000    -1.8e+04   -1.12e+04
KitchenAbvGr -5.843e+04   5431.423    -10.758      0.000   -6.91e+04   -4.78e+04
==============================================================================
Omnibus:                      896.014   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           107114.801
Skew:                          -1.906   Prob(JB):                         0.00
Kurtosis:                      44.788   Cond. No.                     1.96e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.78e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/Users/Jamie/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning:

Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.

In [31]:
#since BsmtHalfBath has a p value significantly greater than 0.05 I drop it. Also might be worth considering dropping
# BsmtFinSF2 has a p value of 0.043 it might be worth considering droppint it as well
my_data3 = my_data2.drop('BsmtHalfBath', 1)